body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
}

a {
  text-decoration: none;
}

button:hover,
button:focus {
  opacity: 0.6;
}

button:active {
  opacity: 0.8;
}

a:focus,
a:hover {
  opacity: 0.6;
}

input:active {
  opacity: 0.8;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

[type="radio"] {
  display: none;
}

@media (max-width: 1600px) {
  .container {
    max-width: 735px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 343px;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*bloks*/
.header {
  background: #222222;
}

.header__wrp {
  display: flex;
  justify-content: space-between;
  min-height: 75px;
  align-items: center;
}

.header__search-wrp {
  display: flex;
}

.header__list {
  display: flex;
}

.header__logo {
  margin: 0 41px 0 0;
  width: 44px;
  height: 38px;
}

.header__link {
  margin: 0 0 0 34px;
}

.header__button {
  border: none;
  background-color: transparent;
  margin: 2px 0 0 0;
}

.header__form {
  position: relative;
}

.header__form::before {
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  top: 6px;
  left: 5px;
  background-image: url(../img/search.svg.svg);
}

.header__form:hover,
.header__form:focus {
  opacity: 0.4;
}

[type="search"] {
  padding: 10px 50px;
}

.header__form-window {
  background-color: #222222;
  height: 35px;
  border: none;
  color: #f1e4e6;
}

.header__button:hover + .header__nav,
.header__button:focus + .header__nav {
  display: block;
}

.header__button-menu {
  width: 24px;
  height: 24px;
  border: none;
  background: white;
  margin: 5px 0 0 170px;
  color: #6F6E6E;
}

.header__nav {
  position: absolute;
  width: 200px;
  top: 75px;
  right: 0;
  background: white;
  padding: 0 0 185px 33px;
  display: none;
}

.header__nav-list {
  margin: 24px 0 0 0;
  padding: 0;
}

.header__nav-item {
  margin: 0 0 20px 0;
}

@media (max-width: 768px) {
  .header__item-none {
    display: none;
  }
  .header__form-window {
    width: 160px;
  }
}

.nav__titel {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  margin: 5px 0 0 0;
}

.nav-sab-item__titel {
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #F16D7F;
}

.nav-sab-item__list {
  margin: 12px 0 0 20px;
}

.nav-sab-item__item {
  margin: 0 0 10px 0;
}

.nav-sab-item__text {
  color: #6F6E6E;
}

.brand {
  background: #f1e4e6;
  margin: 0 0 45px 0;
}

.brand__container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
}

.brand__img-wrp {
  background: #f1e4e6;
}

.brand__img {
  height: 100%;
  width: 100%;
}

.brend__titel-wrp {
  flex-grow: 1;
  padding: 0 0 0 92px;
  display: flex;
  align-items: center;
  background-color: #f1e4e6;
}

.brend__titel:before {
  content: '';
  background: #F16D7F;
  height: 92px;
  width: 12px;
  position: absolute;
  left: -20px;
  top: 10px;
}

.brend__titel {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  position: relative;
}

.brand__subtitel {
  display: block;
  font-size: 37px;
  line-height: 44px;
  font-weight: 700;
  font-style: normal;
}

.brand__subtitel-pink {
  color: #F16D7F;
}

@media (max-width: 1600px) {
  .brand {
    height: 368px;
  }
  .brand__container {
    max-width: 735px;
    height: 367px;
  }
  .brend__titel {
    font-size: 44px;
    line-height: 53px;
    font-weight: 900;
    font-style: normal;
  }
  .brand__subtitel {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    font-style: normal;
  }
}

@media (max-width: 768px) {
  .brand__container {
    max-width: 343px;
  }
  .brand__img-wrp {
    display: none;
  }
  .brend__titel-wrp {
    padding: 0 0 0 83px;
  }
  .brend__titel {
    font-size: 38px;
    line-height: 45px;
    font-weight: 900;
    font-style: normal;
  }
  .brand__subtitel {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
  }
  .brend__titel:before {
    height: 61px;
  }
}

.sales__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sales__item {
  margin: 20px 0 0 0;
  padding: 20px;
  box-sizing: border-box;
  width: 360px;
  height: 260px;
  background-color: #4F4745;
}

.sales__text {
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 105px 0 0 0;
}

.sales__titel {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: #F16D7F;
}

.sales__item--woman {
  background-image: url(../img/for-wuman.jpg);
  background-position: center;
  background-size: cover;
}

.sales__item--kids {
  background-image: url(../img/for-kids.jpg);
  background-position: center;
  background-size: cover;
}

.sales__item--accesories {
  background-image: url(../img/accesories.jpg);
  background-position: center;
  background-size: cover;
}

.sales__item--man {
  background-image: url(../img/for-man.jpg);
  background-position: center;
  background-size: cover;
}

.sales__item--accesories {
  width: 100%;
  margin: 30px 0 0 0;
}

@media (max-width: 1600px) {
  .sales__item {
    width: 232px;
    height: 167px;
  }
  .sales__text {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-style: normal;
    margin: 59px 0 0 0;
  }
  .sales__titel {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
  }
  .sales__item--accesories {
    width: 100%;
    margin: 20px 0 0 0;
  }
}

@media (max-width: 768px) {
  .sales__item {
    width: 343px;
    height: 247px;
    margin: 32px 0 0 0;
  }
}

.catalog__titel {
  text-align: center;
  margin: 96px 0 0 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
}

.catalog__text {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin: 0 0 15px 0;
}

.catalog__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog__item {
  background-color: #F8F8F8;
  width: 360px;
  margin: 30px 0 0 0;
  position: relative;
}

.catalog__button-cart {
  position: absolute;
  top: 188px;
  left: 111px;
  width: 138px;
  height: 43px;
  background-color: transparent;
  border: 1px solid white;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background-image: url(../img/button.svg.svg);
  background-repeat: no-repeat;
  background-position: 10px 10px;
  padding: 0 0 0 35px;
  display: none;
}

.catalog__overlay {
  position: relative;
}

.catalog__overlay::before {
  content: '';
  width: 360px;
  height: 420px;
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  display: none;
}

.catalog__item:hover .catalog__button-cart,
.catalog__item:hover .catalog__overlay::before {
  display: block;
}

.catalog__img {
  margin: 0 0 30px 0;
  width: 360px;
  height: 420px;
}

.catalog__item-titel {
  color: #000;
  text-decoration: none;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 0 18px;
}

.catalog__item-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  width: 315px;
  margin: 12px 0 18px 18px;
}

.catalog__item-price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  font-style: oblique;
  margin: 0 0 20px 18px;
}

.catalog__button-wrp {
  width: 100%;
  text-align: center;
}

.catalog__button {
  background-color: #F16D7F;
  padding: 14px 38px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 19px;
  margin: 48px 0 0 0;
}

@media (max-width: 1600px) {
  .catalog__button {
    background-color: #FFFFFF;
    border-color: #F16D7F;
    color: #F16D7F;
  }
}

@media (max-width: 768px) {
  .catalog__item {
    margin: 16px 0 0 0;
  }
}

.footer__subscription-wrp {
  display: flex;
  justify-content: space-around;
  background-image: url(../img/fon.jpg);
  background-position: center;
  background-size: cover;
}

.footer__woman {
  margin: 87px 0 126px 0;
  width: 356px;
  text-align: center;
}

.footer__text-avtor {
  font-size: 20px;
  line-height: 24px;
  margin: 30px 0 0 0;
}

.footer__subtext {
  font-style: italic;
  font-weight: normal;
}

.footer__subscription {
  margin: 150px 0 0 0;
  width: 550px;
  text-align: center;
}

.footer__subscription-titel {
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  text-transform: uppercase;
}

.footer__subscription-text {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 0 32px 0;
}

.footer__form {
  display: flex;
  justify-content: center;
}

.footer__form-window {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  background-color: #E1E1E1;
  border: none;
  width: 260px;
  padding: 0 0 0 20px;
}

.footer__form-window:hover {
  background-color: #f1e4e6;
  cursor: pointer;
}

.footer__form-window:focus {
  background-color: #F16D7F;
  cursor: text;
}

.footer__form-button {
  background-color: #F16D7F;
  text-align: center;
  height: 50px;
  width: 100px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
}

.footer__social {
  display: flex;
  min-height: 80px;
  background-color: #222222;
  padding: 0 130px;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
  align-items: center;
  color: #FBFBFB;
  font-size: 16px;
  line-height: 19px;
}

.footer__list {
  display: flex;
}

.footer__item {
  margin: 0 7px 0 0;
}

@media (max-width: 1600px) {
  .footer__subscription-wrp {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position-x: 20%;
  }
  .footer__woman {
    margin: 54px 0 0 0;
  }
  .footer__subscription {
    margin: 64px 0 0 0;
  }
  .footer__subscription-text {
    margin: 0 0 27px 0;
  }
  .footer__form {
    margin: 0 0 219px 0;
  }
}

@media (max-width: 768px) {
  .footer__form {
    margin: 0 0 109px 0;
  }
  .footer__form-window {
    width: 240px;
  }
  .footer__text {
    display: none;
  }
  .footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.information {
  background-color: #222222;
  min-height: 340px;
  margin: 109px 0 0 0;
}

.information__list {
  display: flex;
  text-align: center;
  padding: 103px 0 103px 0;
}

.information__titel {
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  font-weight: normal;
}

.information__text {
  padding: 0 15px;
  color: #FBFBFB;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
}

@media (max-width: 1600px) {
  .information__list {
    display: block;
    padding: 48px 0 16px 0;
  }
  .information__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .information__titel {
    margin: 28px 0 16px 0;
  }
  .information__text {
    margin: 0 0 48px 0;
    max-width: 360px;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .information__list {
    padding: 48px 0 33px 0;
  }
}

.registration {
  display: flex;
  justify-content: space-between;
}

.registration__form {
  display: flex;
  flex-direction: column;
  margin: 64px 0 0 0;
}

.registration__form-window {
  display: block;
}

.registration__label {
  content: ' ';
  width: 17px;
  height: 17px;
  border: 1px;
  border-radius: 20px;
}

.registration__benefits {
  max-width: 650px;
}

.registration__benefits-titel {
  margin: 64px 0 0 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
}

.registration__benefits-text {
  margin: 22px 0 0 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.registration__benefits-list {
  margin: 21px 0 260px 0;
}

.registration__benefits-item {
  position: relative;
  margin: 0 0 16px 25px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.registration__benefits-item::before {
  content: '';
  width: 20px;
  height: 16px;
  position: absolute;
  top: 5px;
  left: -25px;
  background-image: url(../img/check.svg);
  background-size: 20px 16px;
}
/*# sourceMappingURL=style.css.map */