:root {
    --black: #222222;
    --light-pink: #f1e4e6;
    --dark-pink: #F16D7F;
    --sales-bkg-color: #4F4745;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: var(--black);
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.header {
    background: var(--black);
}

.header__wrp {
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
}

.header__list {
    display: flex;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__link {
    margin: 0 0 0 34px;
}

.header__button {
    border: none;
    background-color: transparent;
}

.header__nav {
    display: none;
}

.brand {
    display: flex;
    margin: 0 0 62px 0;
}

.brend__titel-wrp {
    flex-grow: 1;
    padding: 0 0 0 92px;
    display: flex;
    align-items: center;
    background-color: var(--light-pink);
}

.brend__titel {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

.brand__subtitel {
    display: block;
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
}

.brand__subtitel-pink {
    color: var(--dark-pink);
}

.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sales__item {
    padding: 20px;
    box-sizing: border-box;
    width: 360px;
    min-height: 260px;
    background-color: var(--sales-bkg-color);
}

.sales__text {
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 105px 0 0 0;
}

.sales__titel {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--dark-pink);
}

.sales__item--woman {
    background-image: url(../img/for-wuman.jpg);
    background-position: center;
    background-size: cover;
}

.sales__item--kids {
    background-image: url(../img/for-kids.jpg);
    background-position: center;
    background-size: cover;
}

.sales__item--accesories {
    background-image: url(../img/accesories.jpg);
    background-position: center;
    background-size: cover;
}

.sales__item--man {
    background-image: url(../img/for-man.jpg);
    background-position: center;
    background-size: cover;
}

.sales__item--accesories {
    width: 100%;
    margin: 30px 0 0 0;
}

.catalog__titel {
    text-align: center;
    margin: 96px 0 0 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px
}

.catalog__text {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin: 0 0 15px 0;
}

.catalog__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog__item {
    background-color: #F8F8F8;
    width: 360px;
    margin: 30px 0 0 0;
}

.catalog__img {
    margin: 0 0 30px 0;
    width: 360px;
    height: 420px;
}

.catalog__link-titel {
    color: #000;
    text-decoration: none;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 0 18px;
}

.catalog__item-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    width: 315px;
    margin: 12px 0 18px 18px;
}

.catalog__item-price {
    font-size: 16px;
    line-height: 19px;
    color: var(--dark-pink);
    font-style: oblique;
    margin: 0 0 20px 18px;
}

.catalog__button-wrp {
    width: 100%;
    text-align: center;
}

.catalog__button {
    background-color: var(--dark-pink);
    padding: 14px 38px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    margin: 48px 0 0 0;

}

.information {
    background-color: var(--black);
    min-height: 340px;
    margin: 109px 0 0 0;
}

.information__list {
    display: flex;
    text-align: center;
    padding: 103px 0 103px 0;
}

.information__titel {
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    font-weight: normal;
}

.information__text {
    width: 360px;
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    color: #FBFBFB;
}

.footer__subscription-wrp {
    display: flex;
    justify-content: space-around;
    background-image: url(../img/fon.jpg);
    background-position: center;
    background-size: cover;

}

.footer__woman {
    margin: 87px 0 126px 0;
    width: 356px;
    text-align: center;
}

.footer__text-avtor {
    font-size: 20px;
    line-height: 24px;
    margin: 30px 0 0 0;
}

.footer__subtext {
    font-style: italic;
    font-weight: normal;
}

.footer__subscription {
    margin: 150px 0 0 0;
    width: 550px;
    text-align: center;
}

.footer__subscription-titel {
    font-weight: 700;
    font-size: 24px;
    line-height: 167.2%;
    text-transform: uppercase;
}

.footer__subscription-text {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0 0 32px 0;
}

.footer__form {
    display: flex;
    justify-content: center;
}

.footer__form-window {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #E1E1E1;
    border: none;
    width: 260px;
    padding: 0 0 0 20px;
}

.footer__form-button {
    background-color: var(--dark-pink);
    text-align: center;
    height: 50px;
    width: 100px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
}

.footer__social {
    display: flex;
    min-height: 80px;
    background-color: var(--black);
    padding: 0 130px;
    justify-content: space-between;
    align-items: center;
}

.footer__text {
    align-items: center;
    color: #FBFBFB;
    font-size: 16px;
    line-height: 19px;
}

.footer__list {
    display: flex;
}

.footer__item {
    margin: 0 7px 0 0;
}

.main__titel {
    min-height: 148px;
    background: var(--light-pink);
    padding: 0 0 0 230px;
    display: flex;
    align-items: center;
}

.main__titel {
    font-size: 24px;
    line-height: 29px;
    color: var(--dark-pink);
}

.registration {
    display: flex;
    justify-content: space-between;
}

.registration__form {
    display: flex;
    flex-direction: column;
}

.registration__benefits {
    max-width: 650px;
}