.brand {
    background: $light-pink;
    margin: 0 0 45px 0;
}

.brand__container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
}

.brand__img-wrp {
    background: $light-pink;
}

.brand__img {
    height: 100%;
    width: 100%;
}

.brend__titel-wrp {
    flex-grow: 1;
    padding: 0 0 0 92px;
    display: flex;
    align-items: center;
    background-color: $light-pink;
}

.brend__titel:before {
    content: '';
    background: $dark-pink;
    height: 92px;
    width: 12px;
    position: absolute;
    left: -20px;
    top: 10px;
}

.brend__titel {
    @include font(48px, 58px, 900);
    text-transform: uppercase;
    position: relative;
}

.brand__subtitel {
    display: block;
    @include font(37px, 44px, 700);
}

.brand__subtitel-pink {
    color: $dark-pink;
}

@media(max-width: 1600px) {
    .brand {
        height: 368px;
    }

    .brand__container {
        max-width: 735px;
        height: 367px;
    }

    .brend__titel {
        @include font(44px, 53px, 900)
    }

    .brand__subtitel {
        @include font(24px, 28px, 700)
    }
}

@media(max-width: 768px) {
    .brand__container {
        max-width: 343px;
    }

    .brand__img-wrp {
        display: none;
    }

    .brend__titel-wrp {
        padding: 0 0 0 83px;
    }

    .brend__titel {
        @include font(38px, 45px, 900);
    }

    .brand__subtitel {
        @include font(20px, 24px, 700)
    }

    .brend__titel:before {
        height: 61px;
    }
}