.brand {
    background: $light-pink;
    margin: 0 0 45px 0;

    @include tablet {
        height: 368px;
        margin: 0;
    }

    @include mobile {
        margin: 0 0 44px 0;
    }
}

.brand__container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;

    @include tablet {
        height: 367px;
        width: 91%;
    }

    @include mobile {
        width: 91%;
    }
}

.brand__img-wrp {
    background: $light-pink;

    @include mobile {
        display: none;
    }
}

.brand__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.brend__titel-wrp {
    flex-grow: 1;
    padding: 0 0 0 12%;
    display: flex;
    align-items: center;
    background-color: $light-pink;
}

.brend__titel:before {
    content: '';
    background: $dark-pink;
    height: 92px;
    width: 12px;
    position: absolute;
    left: -20px;
    top: 10px;

    @include mobile {
        height: 61px;
    }
}

.brend__titel {
    @include font(48px, 58px, 900);
    text-transform: uppercase;
    position: relative;

    @include tablet {
        @include font(44px, 53px, 900);
    }

    @include mobile {
        @include font(38px, 45px, 900);
    }
}

.brand__subtitel {
    display: block;
    @include font(37px, 44px, 700);

    @include tablet {
        @include font(24px, 28px, 700);
    }

    @include mobile {
        @include font(20px, 24px, 700)
    }
}

.brand__subtitel-pink {
    color: $dark-pink;
}