.catalog__titel {
    text-align: center;
    margin: 96px 0 0 0;
    @include font(30px, 36px, 400);
}

.catalog__text {
    text-align: center;
    color: #9F9F9F;
    margin: 0 0 15px 0;
    @include font(14px, 17px)
}

.catalog__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include mobile-mid {
        justify-content: center;
    }
}

.catalog__item {
    background-color: #F8F8F8;
    width: 31%;
    margin: 30px 0 0 0;
    position: relative;

    @include tablet-mid {
        width: 48%;
    }

    @include mobile-mid {
        width: 91%;
    }
}

.catalog__button-cart {
    position: absolute;
    top: 43%;
    left: 31%;
    width: 138px;
    height: 43px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background-image: url(../img/button.svg.svg);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding: 0 0 0 35px;
    display: none;

    @include mobile {
        left: 25%;
    }

    @include mobile-mid {
        left: 31%;
    }
}

.catalog__overlay {
    position: relative;
}

.catalog__overlay::before {
    content: '';
    width: 100%;
    height: 420px;
    background: rgba(58, 56, 56, 0.86);
    position: absolute;
    display: none;
}

.catalog__img {
    margin: 0 0 30px 0;
    width: 100%;
    height: 420px;
    object-fit: cover;
}

.catalog__item-titel {
    color: #000;
    text-decoration: none;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 0 18px;
}

.catalog__item-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin: 12px 12px 18px 18px;
}

.catalog__item-price {
    font-size: 16px;
    line-height: 19px;
    color: $dark-pink;
    font-style: oblique;
    margin: 0 0 20px 18px;
}

.catalog__button-wrp {
    width: 100%;
    text-align: center;
}

.catalog__button {
    background-color: $light-pink;
    padding: 14px 38px;
    color: $dark-pink;
    font-size: 16px;
    line-height: 19px;
    margin: 48px 0 0 0;
    transition: border-radius 800ms, background-color 800ms;

    @include tablet {
        background-color: #FFFFFF;
        border-color: $dark-pink;
        color: $dark-pink;
    }
}

@media(max-width: 768px) {
    .catalog__item {
        margin: 16px 0 0 0;
    }
}