.footer__subscription-wrp {
    display: flex;
    justify-content: space-around;
    background-image: url(../img/fon.jpg);
    background-position: center;
    background-size: cover;

    @include tablet-mid {
        flex-direction: column;
        @include flex-center;
        background-position-x: 20%;
    }
}

.footer__woman {
    margin: 87px 0 126px 0;
    max-width: 356px;
    text-align: center;

    @include tablet {
        margin: 54px 0 0 0;
    }
}

.footer__text-avtor {
    margin: 30px 0 0 0;
    @include font(20px);
}

.footer__subtext {
    font-style: italic;
    font-weight: normal;
}

.footer__subscription {
    margin: 150px 0 0 0;
    max-width: 350px;
    text-align: center;

    @include tablet {
        margin: 64px 0 0 0;
    }
}

.footer__subscription-titel {
    text-transform: uppercase;
    @include font(24px, 27px, 700);

    @include tablet-mid {
        width: 85%;
    }

    @include mobile-mid {
        width: 98%;
    }
}

.footer__subscription-text {
    text-transform: uppercase;
    margin: 0 0 32px 0;
    @include font(18px, 30px);

    @include tablet {
        margin: 0 0 27px 0;
    }

    @include tablet-mid {
        width: 85%;
    }

    @include mobile-mid {
        width: 92%;
    }
}

.footer__form {
    display: flex;
    justify-content: center;

    @include tablet {
        margin: 0 0 219px 0;
    }

    @include mobile {
        margin: 0 0 109px 0;
    }

    @include tablet-mid {
        width: 90%;
    }
}

.footer__form-window {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #E1E1E1;
    border: none;
    width: 260px;
    padding: 0 0 0 20px;
    transition: background-color 800ms;

    @include mobile {
        width: 95%;
    }
}

.footer__form-button {
    background-color: $dark-pink;
    text-align: center;
    height: 50px;
    width: 100px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    transition: background-color 800ms, color 800ms;
}

.footer__social {
    display: flex;
    min-height: 80px;
    background-color: $black;
    padding: 0 130px;
    justify-content: space-between;
    align-items: center;

    @include mobile {
        @include flex-center;
        padding: 0;
    }
}

.footer__text {
    align-items: center;
    color: #FBFBFB;
    font-size: 16px;
    line-height: 19px;

    @include mobile {
        display: none;
    }
}

.footer__list {
    display: flex;
}

.footer__item {
    margin: 0 7px 0 0;
}