.information {
    background-color: $black;
    min-height: 340px;
    margin: 109px 0 0 0;
}

.information__item {
    @include tablet {
        @include flex-center;
        flex-direction: column;
    }
}

.information__list {
    display: flex;
    text-align: center;
    padding: 103px 0 103px 0;

    @include tablet {
        display: block;
        padding: 48px 0 16px 0
    }
}

.information__titel {
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    font-weight: normal;

    @include tablet {
        margin: 28px 0 16px 0;
    }
}

.information__text {
    padding: 0 15px;
    color: #FBFBFB;
    @include font(14px, 17px, 300);

    @include tablet {
        margin: 0 0 48px 0;
        max-width: 360px;
        padding: 0;
    }
}

@media(max-width: 768px) {
    .information__list {
        padding: 48px 0 33px 0;
    }
}