.information__list {
    display: flex;
    text-align: center;
    padding: 103px 0 103px 0;
}

.information__titel {
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    font-weight: normal;
}

.information__text {
    width: 360px;
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    color: #FBFBFB;
}