.nav__titel {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    margin: 5px 0 0 0;
}

.nav-sab-item__titel {
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: $dark-pink;
}

.nav-sab-item__list {
    margin: 12px 0 0 20px;
}

.nav-sab-item__item {
    margin: 0 0 10px 0;
}

.nav-sab-item__text {
    color: #6F6E6E;
    ;
}