.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sales__item {
    margin: 20px 0 0 0;
    padding: 20px;
    box-sizing: border-box;
    width: 360px;
    height: 260px;
    background-color: $sales-bkg-color;
}

.sales__text {
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 105px 0 0 0;
}

.sales__titel {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: $dark-pink;
}

.sales__item--woman {
    background-image: url(../img/for-wuman.jpg);
    background-position: center;
    background-size: cover;
}

.sales__item--kids {
    background-image: url(../img/for-kids.jpg);
    background-position: center;
    background-size: cover;
}

.sales__item--accesories {
    background-image: url(../img/accesories.jpg);
    background-position: center;
    background-size: cover;
}

.sales__item--man {
    background-image: url(../img/for-man.jpg);
    background-position: center;
    background-size: cover;
}

.sales__item--accesories {
    width: 100%;
    margin: 30px 0 0 0;
}

@media(max-width: 1600px) {
    .sales__item {
        width: 232px;
        height: 167px;
    }

    .sales__text {
        @include font(16px, 19px);
        margin: 59px 0 0 0;
    }

    .sales__titel {
        @include font(24px, 28px)
    }

    .sales__item--accesories {
        width: 100%;
        margin: 20px 0 0 0;
    }
}

@media(max-width: 768px) {
    .sales__item {
        width: 343px;
        height: 247px;
        margin: 32px 0 0 0;
    }
}