.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include mobile-mid {
        justify-content: center;
    }
}

.sales__item {
    margin: 20px 0 0 0;
    padding: 20px;
    box-sizing: border-box;
    width: 31%;
    height: 260px;
    background-color: $sales-bkg-color;

    @include tablet {
        height: 167px;
    }

    @include mobile {
        width: 47%;
        height: 247px;
        margin: 32px 0 0 0;
    }

    @include mobile-mid {
        width: 91%;
    }
}

.sales__text {
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 105px 0 0 0;

    @include tablet {
        @include font(16px, 19px);
        margin: 59px 0 0 0;
    }
}

.sales__titel {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: $dark-pink;
    @include font(24px, 38px, 700);

    @include tablet {
        @include font($line-height: 28px);
    }
}

.sales__item--woman {
    background-image: url(../img/for-wuman.jpg);
    background-position: center;
    background-size: cover;
}

.sales__item--kids {
    background-image: url(../img/for-kids.jpg);
    background-position: center;
    background-size: cover;
}

.sales__item--accesories {
    background-image: url(../img/accesories.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    margin: 30px 0 0 0;

    @include tablet {
        width: 100%;
        margin: 20px 0 0 0;
    }

    @include mobile {
        background-position: 85% 50%;
        width: 47%;
        margin: 32px 0 0 0;
    }

    @include mobile-mid {
        width: 91%;
    }
}

.sales__item--man {
    background-image: url(../img/for-man.jpg);
    background-position: center;
    background-size: cover;
}